

.complexes {
    background:#f4f4f4 ;
    padding: 1rem;
}

.complex-info {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}
.heading-div {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: 0px 8px 16px 0px rgb(186, 183, 183);
}

.complex-overview, .apartment-features {
    width: 40vw;
}
.complex-apartments-wrapper {
    display: flex;
    justify-content: center;
    background-color: #cb957c ;
    /* width: 100%; */
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0px 8px 16px 0px rgb(186, 183, 183);

}
.complex-apartment-div {
    height: 30rem;
    /* width: 25rem; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}
.swiper-paragraph {
    background: white;
    opacity: .8;
    color: black;
}

.complex-apartment-div:hover {
    transform: scale(1.1)
}

.slick-slider {
    width: 50vw;
}

.swiper-slide {
    display: flex;
    justify-content: center;
  }

  .swiper-button-next:before, .swiper-button-next:after  {
    color: #884d3b;
 
    /* width: 5vw; */

  }
  .swiper-button-prev:after,  .swiper-button-prev:before {
 color: #884d3b;
    /* width: 5vw; */
   
  }


  .swiper-scrollbar-drag {
    background: #884d3b !important;
  }

  .complex-apartments, .swiper-slide {
    width: 45vw;
  }

  .modal-image {
    height: 10vh;
    width: 5vw;
  }