.about-location {
    background-color: #f4f4f4;
    padding: 1rem;
}

.location-education {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.3rem solid #884d3b;
}

.college {
    display: flex;
    align-items: center;
}

.location-public-schools {
    border-top: 0.3rem solid #884d3b;
    border-bottom: 0.3rem solid #884d3b;
    margin: 1rem;
     padding: 1rem;   
}

.public-schools-container, .attractions-container, .get-to-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-location-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-location-top-p {
    width: 30vw;
    padding: 5rem;
    background-color: #884d3b;
    opacity: .6;
}

.about-location h2 {
    width: 20rem;
    font-size: 3rem;
}

.google-map {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-attractions, .location-get-to {
    border-bottom: 0.3rem solid #884d3b;
    margin: 1rem;
     padding: 1rem;  
}

.attraction, .school, .get-to {
    width: 10rem;
}