.home-header {
    display: flex;
    justify-content: flex-start;
    height: 80vh;
    align-items: center;
}
h1 {
   
    padding: 2rem;
    width: 60%;
    text-shadow: 1px 1px 1px #000;
    font-size: 50px;
    margin-right: 3rem;
    color: white;
}

.homepage-content-container {
    background: #f4f4f4;
    padding: 2rem;
}

.homepage-contact {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #884d3b;
    border-bottom: 1px solid #884d3b;
    padding: 1rem;
}

.homepage-contact-info {
    width: 25vw;
    overflow-wrap: break-word;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.about-paragraph {
    width: 50%;
}

.address {
    cursor: pointer;
}