.home-header {
    display: flex;
    justify-content: flex-start;
    height: 80vh;
    align-items: center;
}
h1 {
   
    padding: 2rem;
    width: 60%;
    text-shadow: 1px 1px 1px #000;
    font-size: 50px;
    margin-right: 3rem;
    color: white;
}

.homepage-content-container {
    background: #f4f4f4;
    /* padding: 2rem; */
}
.homepage-middle, .homepage-bottom {
    display: flex;
    
    justify-content: space-between;
}

.homepage-middle  img {
    /* width: 60%; */
    width: 50vw;
    height: 75vh;
    box-sizing: border-box;
    object-fit: cover;
}

.homepage-bottom img {
    /* width: 50vw;
    height: 75vh; */
    box-sizing: border-box;
    /* object-fit: cover; */
    max-width:100%; height:auto
}

.div-photo {
        width: 50vw;
    height: 75vh;
    box-sizing: border-box;
}


.homepage-contact {
    display: flex;
    justify-content: space-around;
    /* border-top: 1px solid #884d3b;
    border-bottom: 1px solid #884d3b; */
    padding: 1rem;
   align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 75vh;
    box-sizing: border-box;
}

.homepage-contact-info {
    width: 25vw;
    overflow-wrap: break-word;
    font-size: 3vh;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 75vh;
    box-sizing: border-box;
    font-size: 3vh;
}

.about-paragraph {
    width: 50%;
}

.address {
    cursor: pointer;
}

@media only screen and (max-width:  675px) {
    .home-header {

 justify-content: center;
    }


}