@import url("https://fonts.googleapis.com/css?family=Josefin Slab");

* {
  font-family: "PT Sans", sans-serif;

}

html {
  background: url('../assets/complex-image.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.App {
  text-align: center;
}

/* beige #efe1d8
dark red #552224
orange #db8342
dark beige/orange #cb957c
dark purple #93706d
light purple #ab8c94
brown #8a5d50
purple brown #724c49
red brown #884d3b */
