.ind-apartment {
    margin: 9rem;
}

.ind-apartment-info {
    /* background: #cb957c; */
    /* box-shadow: 0px 8px 16px 0px rgb(186, 183, 183); */
    display: flex;
     flex-direction: column;
    /* align-items: center; */
    align-items: flex-start;
    width: 30vw;
    /* height: 60vh; */
    padding: 2rem;
    opacity: .8;
    /* margin-left: 5rem; */
}

.ind-apartment-info h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 8px;
}

.apartment-details {
    display: flex;
}

.apartment-details h4 {
    border-right: solid 1px black;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
}
.background-image {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

 .rent-price {
     background-color: #f4f4f4;
     display: flex;
     justify-content: space-between;
     width: 100%;
     flex-wrap: wrap;
}

.header-rent-price {
    margin-top: 0rem;
    background: #cb957c;
    box-shadow: 0px 8px 16px 0px rgb(186 183 183);
    height: 2rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem;

    opacity: .8;
    width: 30vw;
    margin-bottom: 0;
}
.ind-apartment-buttons {

    display: flex;

    flex-direction: column;
    align-items: flex-start;


}

button {
    padding: 1rem;
    background: lightblue;
    border: none;
    margin: 0.5rem;
    /* width: 8rem; */
    width: 25vw;
    /* box-shadow: 0px 8px 8px 0px rgb(186, 183, 183); */
}

button:hover {
    cursor: pointer;
}

.ind-apartment-top {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-top: 8%;
    flex-wrap: wrap; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5%; */
    flex-wrap: wrap;

}

.navigation {
    display: flex;
    margin-top: 1;
    align-items: center;
    justify-content: flex-start;
    margin-left: 9vw;
    margin-top: 10rem;
}
.breadcrumbs {
    padding-bottom: 1rem;
}

.MuiBreadcrumbs-separator {
    color:#884d3b;
    font-size: 25px;
    font-weight: 700;
    margin: 6px 4px 0;
    line-height: 10px;
}
li {
    font-size: 12px
}
.breadcrumbs a {
    text-decoration: none;
    color: black;
}
.breadcrumbs p {
    font-size: 12px;
    padding: 0 !important;
}

.background-image {
    width: 100%;
    padding-top: 8%;
}

.ind-apartment-bottom {
    /* background: rgba(244,244,244,1); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ind-apartment-bottom h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 8px;
}

.ind-apartment-bottom, p {

    padding-right: 1rem;
}

/* .ind-apartment-ammentities {
    border-top: .3rem solid #884d3b;
    border-bottom: .3rem solid #884d3b;
} */

.apartment-layout {
    width: 30vw;
    margin: 2rem;
    background-color: #f4f4f4;
}

.amentities-paragraphs {
    display: flex;
    width: 45vw;
    justify-content: space-around;
    margin-top: 1rem;
}
.modal-image {
    /* height: 5rem; */
    width: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

  }
  .modal-image:hover {
    cursor: pointer
  }

/* .react-modal {
   
  } */


  .apartment-image-swiper {
    width: 45vw;
    height: 70vh;;
  
  }
  
  .swiper-container {
          display: flex;
          justify-content: center;
          /* background-color: #cb957c ; */
          flex-direction: column;
          border-bottom: 1px solid black;
          padding-bottom: 3rem;
          /* margin-top: 5%; */
          /* box-shadow: 0px 8px 16px 0px rgb(186, 183, 183); */
  }
  .modal-swiper-div {
      
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      /* margin-left: 5rem;
      margin-right: 5rem; */
      margin-bottom: 1rem;
  }
  
  .swiper-slide {
      display: flex;
      justify-content: center;
    }
  .swiper-wrapper {
     width: 45vw;
    
  }
    .swiper-button-next:before, .swiper-button-next:after  {
      color: #884d3b;
      background: white;
      padding: 1rem;
      border-radius: 4rem;
      margin-right: 3rem;
      width: 2vw;
      height: 2vh;
      /* width: 5vw; */
  
    }
    .swiper-button-prev:after,  .swiper-button-prev:before {
   color: #884d3b;
   background: white;
   padding: 1rem;
   border-radius: 4rem;
   margin-left: 3rem;
      /* width: 5vw; */
     
    }
  
    .ReactModal__Content {
      padding: 0rem !important;
       border-color: none !important;
      background: none !important;
      /* width: 20rem; */
      /* height: 20rem; */
      --swiper-theme-color: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  .swiper-pagination {
    --swiper-pagination-bullet-vertical-gap: 10rem !important;
    --swiper-pagination-bullet-margin-top: 8px !important;
    padding-bottom: 1rem;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #000 !important;
  }
      /* transition : all 0.3s ease-in-out; */
    
    /* .swiper-button-prev:after {
      position: fixed;
      margin-right: 7rem;
    }
  
    .swiper-button-next:after {
      position: fixed;
      margin-left: 7rem;
    } */
  .close-img-div {
    display: flex;
    justify-content: flex-end;
  }
    .close-img {
      width: 2rem;
      margin-left: 2rem;
    }
  .close-img:hover {
    cursor: pointer;
  }
    .ReactModal__Overlay {
      opacity: 0;
      transition: opacity 500ms ease-in-out;
    
  }
  
  .ReactModal__Overlay--after-open{
      opacity: 1;
  }
  
  .ReactModal__Overlay--before-close{
      opacity: 0;
  }
  
  .modal-images {
    width: 40rem;
    /* padding-top: .1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem; */
  }
  :root {
    --swiper-theme-color: none !important;
  }
  