footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ABABAB;
}

.footer-info {
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}